@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

<h3>Our Yatan Team</h3>
<ul class="list-group">
    <li class="list-group-item">Musa Musayev</li>
    <li class="list-group-item">Elvin Memmedov</li>
    <li class="list-group-item">Nurane Rustemova</li>
</ul>